.marquee, .marquee-text {
  margin:0;
  padding:0;
  border:0;
}

@keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}

.marquee {
  width:100%;
  height:20px;
  line-height:20px;
  overflow:hidden;
  position:relative;
}

.marquee-text {
  position:absolute;
  top:0;
  white-space: nowrap;
  height:120px;
  font-size:14px;
  animation-name: slide;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 15s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}

.blinking-text {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
   0% {opacity: 1;}
  50% {opacity: 0;}
}
