<div class="modal-content" id="blog-post-editor-content">
  <div class="modal-title-bar">
    <div class="modal-caption" id="blog-post-editor-caption"></div>
    <div class="modal-close" id="blog-post-close-button">&times;</div>
  </div>
  <div class="tbl">
    <div class="tr">
      <input type="hidden" id="blogPost_inBlog" value="" />
      <input type="hidden" id="blogPost_postId" value="" />
      <div class="label">Title:</div>
      <div class="control"><input type="text" id="blogPost_title" value="" /></div>
    </div>
  </div>
  <div id="blog-post-editor-body"><textarea id="blogPost_body"></textarea></div>
  <div id="blog-post-editor-button-bar">
    <button id="blog-post-cancel-button">Cancel</button>
    <button id="blog-post-send-button">Post</button>
  </div>
</div>