<div id="ctr">
  <input type="hidden" id="chg-pwd-userId" value="<%=userId %>" />
  <div class="tbl">
    <div class="tr">
      <div class="label">New password:</div>
      <div class="control"><input type="password" id="chg-pwd-password" value="" /></div>
    </div>
    <div class="tr">
      <div class="label">New password again:</div>
      <div class="control"><input type="password" id="chg-pwd-again" value="" /></div>
    </div>
  </div>
  <div class="button-bar"><button id="change-password-button">Change Password</button></div>
</div>