<div class="modal-content" id="forum-post-editor-content">
  <div class="modal-title-bar">
    <div class="modal-caption" id="forum-post-editor-caption"></div>
    <div class="modal-close" id="forum-post-close-button">&times;</div>
  </div>
  <div class="tbl">
    <div class="tr">
      <input type="hidden" id="forumPost_replyTo" value="" />
      <div class="label">Subject:</div>
      <div class="control"><input type="text" id="forumPost_topic" value="" /></div>
    </div>
  </div>
  <div id="forum-post-editor-body"><textarea id="forumPost_body"></textarea></div>
  <div id="forum-post-editor-button-bar">
    <button id="forum-post-cancel-button">Cancel</button>
    <button id="forum-post-send-button">Post</button>
  </div>
</div>