<div id="hashtag-page-container">
  <h2><%=hashtag %></h2>
  <p>The following items contain hashtag <span style="font-style: italic;"><%=hashtag %></span>:</p>
  <% if (profiles.length > 0) { %>
    <h3>Profiles</h3>
    <table id="profile-list">
      <thead>
        <th>User</th>
        <th></th>
        <th>Title</th>
        <th>Joined</th>
      </thead>
      <tbody>
      <% for (i = 0; i < profiles.length; i++) { %>
        <tr>
          <td style="width: 48px;"><img class="profile-list-avatar" src="<%=Config.avatarFolder %>/<%=profiles[i].avatar %>_small.png" alt="<%=profiles[i].username %>" /></td>
          <td style="width: 40%;"><a href="#" class="profile-link" data-userId="<%=profiles[i].userId %>"><%=profiles[i].username %></a></td>
          <td style="width: 40%;"><%=profiles[i].title %></td>
          <td style="width: 20%;"><%=profiles[i].joined.toLocalTime().toElapsedTime() %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  <% } %>
  <% if (posts.length > 0) { %>
    <h3>Bulletins</h3>
    <table id="post-list">
      <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Posted</th>
      </thead>
      <tbody>
        <% for (i = 0; i < posts.length; i++) { %>
          <tr>
            <td style="width: 50%;"><a href="#" class="forum-post-link" data-postId="<%=posts[i].postId %>"><%=posts[i].topic %></a></td>
            <td style="width: 30%;"><a href="#" class="profile-link" data-userId="<%=posts[i].postedBy %>"><%=posts[i].author %></a></td>
            <td style="width: 20%;"><%=posts[i].postedAt.toLocalTime().toElapsedTime() %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } %>
  <% if (blogs.length > 0) { %>
    <h3>Blog Posts</h3>
    <table id="blog-post-list">
      <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Posted</th>
      </thead>
      <tbody>
        <% for (i = 0; i < blogs.length; i++) { %>
          <tr>
            <td style="width: 50%;"><a href="#" class="blog-post-link" data-postId="<%=blogs[i].postId %>"><%=blogs[i].title %></a></td>
            <td style="width: 30%;"><a href="#" class="profile-link" data-userId="<%=blogs[i].postedBy %>"><%=blogs[i].author %></a></td>
            <td style="width: 20%;"><%=blogs[i].postedAt.toLocalTime().toElapsedTime() %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } %>
  <% if (files.length > 0) { %>
    <h3>Files</h3>
    <table id="file-list">
      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Uploaded</th>
        <th class="numeric">Downloads</th>
      </thead>
      <tbody>
        <% for (i = 0; i < files.length; i++) { %>
          <tr>
            <td style="width: 45%;" nowrap><a href="#" class="file-details-link" data-fileId="<%=files[i].id %>"><%=files[i].filename %></a></td>
            <td style="width: 30%;" nowrap><%=files[i].mimeType %></td>
            <td style="width: 20%;" nowrap><%=files[i].uploadedAt.toLocalTime().toElapsedTime() %></td>
            <td style="width: 5%;" class="numeric" nowrap><%=files[i].downloads %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } %>
</div>