<div id="help-container">
  <a name="help-contents"><h2>Help</h2></a>
  <ul>
    <li><a href="#bbcode-usage">1. BBCode</a>
        <ul>
          <li><a href="#basic-markup">1.1 Basic Markup</a></li>
          <li><a href="#img-tag">1.2 The [img] Tag</a></li>
          <li><a href="#spoiler-tag">1.3 The [spoiler] Tag</a></li>
          <li><a href="#code-tag">1.4 The [code] Tag</a></li>
          <li><a href="#youtube-tag">1.5 The [youtube] Tag</a></li>
          <li><a href="#ansi-tag">1.6 The [ansi] Tag</a></li>
          <li><a href="#allowed-tags">1.7 Where Tags May Be Used</a></li>
        </ul>
    </li>
    <li><a href="#emojis-hashtags-mentions">2. Emojis, Hashtags, and Mentions</a></li>
    <li><a href="#emoticons">3. Emoticons</a></li>
    <li><a href="#chat-commands">4. Chat Commands</a>
        <ul>
          <li><a href="#me-and-action">4.1 The /me and /action Commands</a></li>
          <li><a href="#kick-and-ban">4.2 The /kick and /ban Commands</a></li>
        </ul>
    </li>
  </ul>
  <a name="bbcode-usage"><h3>1. BBCode</h3></a>
  <p>BBCode is a markup language that enables users to add style to their text and embed
     media elements in a Web page.</p>
  <a name="basic-markup"><h4>1.1 Basic Markup</h4></a>
  <p>Whether or not a tag may be nested inside other tags depends on the tags.
     Generally, placing other tags inside a tag that modifies its own content,
     such as <code>[rainbow]</code>, <code>[gradient]</code>, or <code>[spoiler]</code>,
     will not work as expected. Placing other tags inside of <code>[i]</code>,
     <code>[b]</code>, <code>[u]</code>, <code>[size]</code>, or <code>[color]</code>
     tags usually works.</p>
  <table class="bbcode-list">
    <thead>
      <th>Tag</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td>[i]italic text[/i]</td>
        <td><span style="font-style: italic;">italic text</span></td>
      </tr>
      <tr>
        <td>[b]bold text[/b]</td>
        <td><span style="font-weight: bold;">bold text</span></td>
      </tr>
      <tr>
        <td>[u]underlined text[/u]</td>
        <td><span style="text-decoration: underline;">underlined text</span></td>
      </tr>
      <tr>
        <td>[color=green]green text[/color]</td>
        <td><span style="color: #00ff00;">green text</span></td>
      </tr>
      <tr>
        <td>[size=18pt]eighteen-point text[/size]</td>
        <td><span style="font-size: 18pt;">eighteen-point text</span></td>
      </tr>
      <tr>
        <td>[url=http://example.org/]Click here![/url]</td>
        <td><a href="http://example.org/" target="_blank">Click here!</a></td>
      </tr>
      <tr>
        <td>[rainbow]rainbow text[/rainbow]</td>
        <td><span style="color: rgb(243,128,31);">r</span><span style="color: rgb(196,196,2);">a</span><span style="color: rgb(127,243,12);">i</span><span style="color: rgb(59,253,59);">n</span><span style="color: rgb(12,223,128);">b</span><span style="color: rgb(2,163,196);">o</span><span style="color: rgb(32,92,243);">w</span> <span style="color: rgb(92,32,253);">t</span><span style="color: rgb(163,2,223);">e</span><span style="color: rgb(224,12,163);">x</span><span style="color: rgb(253,59,92);">t</span></td>
      </tr>
      <tr>
        <td>[gradient start=yellow end=blue]gradient text[/gradient]</td>
        <td><span style="color: rgb(0,128,0);">g</span><span style="color: rgb(0,117,21);">r</span><span style="color: rgb(0,106,42);">a</span><span style="color: rgb(0,96,63);">d</span><span style="color: rgb(0,85,85);">i</span><span style="color: rgb(0,74,106);">e</span><span style="color: rgb(0,64,127);">n</span><span style="color: rgb(0,53,148);">t</span> <span style="color: rgb(0,42,170);">t</span><span style="color: rgb(0,32,191);">e</span><span style="color: rgb(0,21,212);">x</span><span style="color: rgb(0,10,233);">t</span></td>
      </tr>
      <tr>
        <td>[blink]blinking text[/blink]</td>
        <td><span class="blinking-text">blinking text</span></td>
      </tr>
      <tr>
        <td>[marquee]scrolling text[/marquee]</td>
        <td><div class="marquee"><div class="marquee-text">scrolling text</div></div></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="img-tag"><h4>1.2 The [img] Tag</h4></a>
  <p>This tag may only be used with images that you or other members have uploaded. Placing
     the URL of an image from another website inside the <code>[img]</code> tag will not work.
     When you upload a file, you'll see a page of information about the file. One of the items
     shown is a 32-character MD5 hash of the file. Copy and paste the MD5 hash value between
     the <code>[img]</code> tags.</p>
  <table class="bbcode-list">
    <thead>
      <th>Tag</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align: top;">[img]11e21d7da3d9d8d679e116233aa8255a[/img]</td>
        <td><img src="./assets/user_files/11e21d7da3d9d8d679e116233aa8255a" alt="" /></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="spoiler-tag"><h4>1.3 The [spoiler] Tag</h4></a>
  <p>This tag scrambles text. Click the Decode button to unscramble it.</p>
  <table class="bbcode-list">
    <thead>
      <th>Tag</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align: top; width: 50%;">[spoiler]Han Solo shot first.[/spoiler]</td>
        <td style="width: 50%;"><div class="spoiler-container"><div class="spoiler-header">Spoiler:</div><div class="spoiler-text" id="spoiler-UCq0MozVJul6L9s2Bt3yIQfM7m7Io4gn">Una Fbyb fubg svefg.</div><div class="spoiler-button-bar"><button class="spoiler-decode-button" data-spoilerId="UCq0MozVJul6L9s2Bt3yIQfM7m7Io4gn">Decode</button></div></div></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="code-tag"><h4>1.4 The [code] Tag</h4></a>
  <p>This tag can be used with or without syntax highlighting. For syntax highlighting,
     specify the programming language in the opening tag. For ASCII art or command line
     input and output, omit the language. In the examples below, we display the same
     JavaScript code with and without syntax highlighting.</p>
  <table class="bbcode-list" id="code-tag-examples">
    <thead>
      <th>Tag</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td>
<pre style="font-family: sans-serif">[code=javascript]
function sleep(milliseconds)
{
  var start = new Date().getTime();
  for (var i = 0; i < Number.MAX_SAFE_INTEGER; i++) {
    if ((new Date().getTime() - start) > milliseconds) {
      break;
    }
  }
} // sleep
[/code]</pre></td>
        <td>
<pre class="javascript" style="font-family:monospace;">&nbsp;
  <span style="color: #000066; font-weight: bold;">function</span> sleep<span style="color: #009900;">&#40;</span>milliseconds<span style="color: #009900;">&#41;</span>
  <span style="color: #009900;">&#123;</span>
    <span style="color: #000066; font-weight: bold;">var</span> start <span style="color: #339933;">=</span> <span style="color: #000066; font-weight: bold;">new</span> <span style="">Date</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span>.<span style="color: #660066;">getTime</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
    <span style="color: #000066; font-weight: bold;">for</span> <span style="color: #009900;">&#40;</span><span style="color: #000066; font-weight: bold;">var</span> i <span style="color: #339933;">=</span> <span style="color: #CC0000;">0</span><span style="color: #339933;">;</span> i <span style="color: #339933;">&lt;</span> <span style="">Number</span>.<span style="color: #660066;">MAX_SAFE_INTEGER</span><span style="color: #339933;">;</span> i<span style="color: #339933;">++</span><span style="color: #009900;">&#41;</span> <span style="color: #009900;">&#123;</span>
      <span style="color: #000066; font-weight: bold;">if</span> <span style="color: #009900;">&#40;</span><span style="color: #009900;">&#40;</span><span style="color: #000066; font-weight: bold;">new</span> <span style="">Date</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span>.<span style="color: #660066;">getTime</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span> <span style="color: #339933;">-</span> start<span style="color: #009900;">&#41;</span> <span style="color: #339933;">&gt;</span> milliseconds<span style="color: #009900;">&#41;</span> <span style="color: #009900;">&#123;</span>
        <span style="color: #000066; font-weight: bold;">break</span><span style="color: #339933;">;</span>
      <span style="color: #009900;">&#125;</span>
    <span style="color: #009900;">&#125;</span>
  <span style="color: #009900;">&#125;</span> <span style="color: #006600; font-style: italic;">// sleep</span>
  &nbsp;</pre></td>
      </tr>
      <tr>
        <td>
<pre style="font-family: sans-serif">[code]
function sleep(milliseconds)
{
  var start = new Date().getTime();
  for (var i = 0; i < Number.MAX_SAFE_INTEGER; i++) {
    if ((new Date().getTime() - start) > milliseconds) {
      break;
    }
  }
} // sleep
[/code]</pre></td>
        <td>
<pre style="font-family: monospace;">
function sleep(milliseconds)
{
  var start = new Date().getTime();
  for (var i = 0; i < Number.MAX_SAFE_INTEGER; i++) {
    if ((new Date().getTime() - start) > milliseconds) {
      break;
    }
  }
} // sleep
</pre></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="youtube-tag"><h4>1.5 The [youtube] Tag</h4></a>
  <p>Place the video ID between the tags. For example, if you have this YouTube URL:</p>
  <blockquote><code>https://www.youtube.com/watch?v=gqc8AqIZj4w</code></blockquote>
  <p>you would copy and paste the <code>gqc8AqIZj4w</code> part between the tags.</p>
  <table class="bbcode-list">
    <thead>
      <th>Tag</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align: top;">[youtube]gqc8AqIZj4w[/youtube]</td>
        <td><iframe width="280" height="157" src="https://www.youtube.com/embed/gqc8AqIZj4w" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="ansi-tag"><h4>1.6 The [ansi] Tag</h4></a>
  <p>As with the <code>[img]</code> tag, the <code>[ansi]</code> tag will only work with ANSI art
     files that you or other members have uploaded. Place the file's MD5 hash value between the tags.</p>
  <p>If no parameters are supplied, the tag assumes your ANSI file is an 80-column Code Page 437 file.
     Other character sets and dimensions can be set in the opening tag:</p>
  <blockquote><code>[ansi type=cp437 width=44 height=22]130aada24aeec38442aa53115bc25eb6[/ansi]</code></blockquote>
  <p>Setting tag parameters is an all-or-nothing proposition, i.e., if you specify one parameter, then you must specify
     all three parameters. Accepted values for the type parameter are <code>cp437</code>, <code>bin</code>,
	 and <code>tundra</code>.</p>
  <p>The following example uses a PNG image to simulate the result. The actual result
     would be a full-size HTML rendering of the Extended ASCII characters in your file.</p>
  <table class="bbcode-list">
    <thead>
      <th>Tag</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align: top;">[ansi]ff5d8fbfbb15323fc9d1d9bc538a1cfd[/ansi]</td>
        <td><img src="./client/ansi_example.png" /></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="allowed-tags"><h4>1.7 Where Tags May Be Used</h4></a>
  <p>The sysop may disable certain tags in certain areas of the site to reduce noise.
     Other tag restrictions are hard-coded into the system.</p>
  <p>All tags are allowed in your profile, blog posts, and private messages.</p>
  <p>No tags are allowed in display names, custom titles, or signatures.</p>
  <p>The following tags are enabled on the bulletin board: <%=Config.allowedTags.forum %></p>
  <p>The following tags are enabled in chat: <%=Config.allowedTags.chat %></p>
  <p>The following tags are enabled in file descriptions: <%=Config.allowedTags.files %></p>
  <p>The following tags are enabled in comments: <%=Config.allowedTags.comments %></p>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="emojis-hashtags-mentions"><h3>2. Emojis, Hashtags, and Mentions</h3></a>
  <p>Emojis are allowed in profiles, display names, custom titles, and signatures, but
     are not supported anywhere else on the system.</p>
  <p>Hashtags are allowed in all areas. Placing a "#" sign before any non-whitespace text
     automagically creates a link to a special search results page. Hashtags are the preferred
     method of curating related content.</p>
  <p>Mentions are allowed in all areas. Placing a "@" sign before a registered username
     automagically creates a link to that user's profile. Members may receive notifications
     whenever someone mentions them by checking a box in their Preferences.</p>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="emoticons"><h3>3. Emoticons</h3></a>
  <p>Emoticons, or "smileys," or "emotes," are small images that represent emotions. They
     were the forerunners to today's emojis. The earliest emoticons were simple text sequences,
     such as <code>:)</code> to represent a smile. In later years, other small images, such as
     public figures and memes, were added to the vocabulary on some message boards.</p>
  <p>The following emoticons are installed on the system, and may be used in all areas:</p>
  <table class="emoticon-list">
    <thead>
      <th>Code</th>
      <th style="text-align: center;">Result</th>
    </thead>
    <tbody>
      <% for (p in Config.emoticons) { %>
        <tr>
          <td><%=(":" + p + ":") %></td>
          <td style="text-align: center;"><img src="<%=Config.emoticonPath %>/<%=Config.emoticons[p] %>" alt="<%=(":" + p + ":") %>" /></td>
        </tr>
     <% } %>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="chat-commands"><h3>4. Chat Commands</h3></a>
  <p>Chat commands are executed by typing a command in the chatroom.</p>
  <a name="me-and-action"><h4>4.1 The /me and /action Commands</h4></a>
  <p>These two commands are synonymous. They indicate that the user is performing an action.</p>
  <table class="command-list">
    <thead>
      <th>Command</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td>/me pulls MarySmith's pigtails.</td>
        <td><span class="chat-action">JohnDoe pulls MarySmith's pigtails.</span></td>
      </tr>
      <tr>
        <td>/action smacks JohnDoe upside the head.</td>
        <td><span class="chat-action">MarySmith smacks JohnDoe upside the head.</span></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
  <a name="kick-and-ban"><h4>4.2 The /kick and /ban Commands</h4></a>
  <p>The /kick command temporarily knocks a user offline, forcing them to login again. Any
     user may kick any other user except the System and Sysop users, who cannot be kicked
     or banned.</p>
  <p>The /ban command permanently bans a user from the system. Only the System and Sysop
     users can ban another user.</p>
  <table class="command-list">
    <thead>
      <th>Command</th>
      <th>Result</th>
    </thead>
    <tbody>
      <tr>
        <td>/kick JohnDoe</td>
        <td><div class="chat-message">&lt;<span class="chat-author">System</span>&gt; MarySmith kicked JohnDoe.</div></td>
      </tr>
      <tr>
        <td>/ban JohnDoe</td>
        <td><div class="chat-message">&lt;<span class="chat-author">System</span>&gt; JohnDoe has been banned.</div></td>
      </tr>
    </tbody>
  </table>
  <p><a href="#help-contents">Back to Top</a></p>
</div>