<div class="mailbox-container">
  <div class="mailbox-header">
    <div class="mailbox-column-head mailbox-subject-head">Subject:</div>
    <div class="mailbox-column-head mailbox-sender-head">From:</div>
    <div class="mailbox-column-head mailbox-timestamp-head">Sent:</div>
  </div>
  <% for (i = 0; i < messages.length; i++) { %>
  <div class="mailbox-row">
    <div class="mailbox-cell mailbox-subject-cell">
      <a href="#" class="mail-message-link" data-messageId="<%=messages[i].messageId %>"><%=messages[i].subject %></a>
    </div>
    <div class="mailbox-cell mailbox-sender-cell">
      <a href="#" class="profile-link" data-userId="<%=messages[i].from %>"><%=messages[i].sender %></a>
    </div>
    <div class="mailbox-cell mailbox-tiemstamp-cell">
      <%=messages[i].postedAt.toLocalTime().toElapsedTime() %>
    </div>
  </div>
  <% } %>
</div>