<div id="ctr">
  <div class="tbl">
    <div class="tr">
      <div class="label">Username:</div>
      <div class="control"><input type="text" id="sign-up-username" value="" /></div>
    </div>
    <div class="tr">
      <div class="label"><label for="password">Password:</label></div>
      <div class="control"><input type="password" id="sign-up-password" value="" /></div>
    </div>
    <div class="tr">
      <div class="label">Password again:</div>
      <div class="control"><input type="password" id="sign-up-password-again" value="" /></div>
    </div>
    <div class="tr">
      <div class="label">Security question:</div>
      <div class="control"><input type="text" id="sign-up-question" value="" /></div>
    </div>
    <div class="tr">
      <div class="label">Answer:</div>
      <div class="control"><input type="text" id="sign-up-answer" value="" /></div>
    </div>
  </div>
  <div class="button-bar"><button id="sign-up-button">Sign Up</button></div>
</div>