<div id="ctr">
  <div class="tbl">
    <div class="tr">
      <div class="label">Username:</div>
      <div class="control"><input type="text" id="sign-in-username" value="" /></div>
    </div>
    <div class="tr">
      <div class="label">Password:</div>
      <div class="control"><input type="password" id="sign-in-password" value="" /></div>
    </div>
  </div>
  <div class="button-bar"><button id="sign-in-button">Sign In</button></div>
  <div class="tbl">
    <div class="tr">
      <div class="links"><a href="#" id="lost-password-link">Lost Password</a></div>
      <div class="links"><a href="#" id="sign-up-link">Sign Up</a></div>
    </div>
  </div>
</div>