<div class="modal-content" id="file-upload-editor-content">
  <div class="modal-title-bar">
    <div class="modal-caption" id="file-upload-editor-caption">Upload File</div>
    <div class="modal-close" id="file-upload-close-button">&times;</div>
  </div>
  <div class="tbl">
    <div class="tr">
      <div class="label">File:</div>
      <div class="control"><input type="file" id="file-upload-file" /></div>
    </div>
  </div>
  <div id="file-upload-descr-label">Description:</div>
  <div id="file-upload-editor-description"><textarea id="file-upload-description"></textarea></div>
  <div id="file-upload-editor-button-bar">
    <button id="file-upload-cancel-button">Cancel</button>
    <button id="file-upload-send-button">Upload</button>
  </div>
</div>